/*login*/

h1 {
  
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  font-size: 24px;
  line-height: 1.4;
  text-align: center
}
.logo{
    margin: ;
}


 h1,
    .login {
      grid-column-end: span 2;
      width: auto;git reset
    }
    .login > div {
      display: grid;
      /*grid-template-columns: 1fr 2fr;*/
      align-items: center;
    }
    .login > div.actions {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .account {
      border-right: 1px dotted rgb(191, 216, 227);
      padding: 0 10px 0 0;
      align-self: end;
      width: auto;
    }
    input[type="text"],input[type="password"] {
      padding:12px;
      border:none;
      border:1px solid #ccc;
    }
    .contact {
      padding: 0 0 0 10px;
      width: auto;
    }
    input[type="submit"] {
      grid-column: 2;
      padding:9px;
    }
    .actions a {
      justify-self: end;
    }
    body
{
  padding: 30px;
  background-color: #fcfcfc;  
}
.wrapper
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 40vh;
}
.inner-div
{
     /*background-color: #f3f2ef;*/
     border-radius: 3px;
     width: 500px;
     height: 100px; 
}
.inner-div>h1{
    background-color:#132437;
}
 .navigation > div >a,a{
      text-align: right;
      color:#0CAD99 ;
      padding:3px;
      margin-left:12px;
      text-decoration: none;
      text-transform: capitalize;
    }
h1{
  background: #fcfcfc;
}
  input[type="submit"]{
      background: none;
      border:1px solid #0CAD99;
      /*border-radius: 50%;*/
      height:50px;
      color:#0CAD99;
  }
.account > p{
  width:100%;
  text-align: center
}