body{
  margin-top:0;
  background: #f6f6f6; font: 14px ;
  /* font-family: 'Roboto', sans-serif; */
  
 
}
.nav_bar { grid-area: header; }
.sidebar { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.footer { grid-area: footer; }
.wrapper{
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'footer footer footer footer footer footer';
  grid-gap: 10px;
  /*background-color: #fff;*/
  padding: 0 10px 10px 10px;
}
.item3 {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.form-radio
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before
{
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.form-radio:hover
{
  background-color: #f7f7f7;
}
.form-radio:checked
{
  background-color: #f1f1f1;
}
label
{
  font: 300 16px/1.7 'Open Sans', sans-serif;
  color: #666;
  cursor: pointer;
}
.navigation > div{
  padding:1em;
  font-size: 13px;
  font-weight: bold;
  color:white;
}
.navigation > div >span{
  text-align: right;
  color:white ;
  padding:3px;
  margin-left:12px;
}
.sidebar>.navigation> a {
  padding: 6px 8px 6px 16px;
  border-bottom: 1px solid #818181;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.sidebar>.navigation> a:hover {
  color: #f1f1f1;
}


.sidebar {
  display:grid;
  grid-row-gap:1em;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #132437;
  overflow-x: auto;
  padding-top: 10px;
  margin:0;
}
.user_passport{
  margin-left:25%;
  border-radius: 50%;
  height:100px;
}
.nav_bar{
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
  .sidebar>.navigation> a {float: left;}
  div.item3 {margin-left: 0;}
  /* .logo{margin-left:30% !important;} */
  .user_passport{display: none}
  .tabcontent{
    width:500px !important;
  }
  .profile_card{
    width:480px !important;
  }
  .tabs{
    width:700px !important
  }

}

@media screen and (max-width: 400px) {
  .user_passport{display: none}
  .sidebar>.navigation> a {
      text-align: center;
      float: none;
  }
}
a{
  text-decoration: none;
}
.profile_edit_link{
  font-size:12px;
  border:1px solid #0CAD99;
  padding:8px;
  cursor:hand ;
}
.profile_edit_link:hover{
  background:#0CAD99;
  color:white;
  cursor:hand

}
.s>div>b{
  font-size:20px;
  margin-right: 5px;
}
.s>div>span{
  font-size:16px;
}
.question_box{
  max-width: 676px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border:1px solid #ccc;

  background:white;
  font-size: 20px;
  padding-right: 12px;padding-left: 10px}
.question_box >div> form{width:100%;}
.footer{
  background: #f6f6f6;
  height: 100px
}
.mb-1{
  margin-bottom: 10px
}
.mb-2{
  margin-bottom: 20px
}
.meetup-post{
  background: transparent !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.tbutn,#post_msg{
  padding-bottom:2px;
  padding-top:5px;
}
.tbutn:hover,#post_msg:hover{
  background: #0c0c0c;
}
.feed{
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-row-gap: 1em;
  background: #fff;
  max-width:675px;
  padding:12px;
  margin-bottom:20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.feed_body{
  font-family: 'Lato', sans-serif;
  padding-right: 10px;
  font-size: 14px;
  color:black;
}
.feed_head{
  
  border-bottom: thin solid #f6f6f6;

}
.username,.title{
  font-family: 'Roboto', sans-serif;
  color:#0CAD99;
  font-size: 14px;
  /* font-weight: bold */
}
.username{
  font-family: 'Roboto', sans-serif;
  color:#0CAD99;
  font-size: 14px;
  /* font-weight: bold */
}
.username:hover{
  text-decoration: underline
}
.feed_timestamp{
  font-size:11px; color:#CCCCCC;
  margin-top:-10px;
}
.feed_photo{
  float:left; border-radius: 20px
}
.feed_photos{
  float:right; border-radius: 20px
}
.pstname{
  margin-top: 0px; margin-bottom: 10px;
}
.opinions_list{
  list-style: none
}
.opinion_div{
  float:left;margin-top: -20px;border-top:1px solid #f6f6f6
}
.opinion_div > h4{
  color: black
}
.opinion_box{
  width:100%;
  border:#CCC 1px solid;
  height:30px;
  resize: none;
  outline: none;
  border: 1px solid rgba(225,225,225,1);
  overflow: hidden;
  display:block;
}
.opinion_box_2{
  width:100%; border:#CCC 1px solid; height:90px;    resize: none;
  outline: none;
  border: none;
  overflow: hidden;
  padding-top:10px;
}
.tag-input{
  width:100%;
  resize: none;
  outline:none;
  border-top: 1px solid #f6f6f6 ;
  border-bottom: 1px solid #f6f6f6 ;
  border-bottom:none;
  border-left:none;
  border-right:none;
  height:40px;

}
.opinions_list{
  margin-bottom: 4px !important;height:120px;overflow:auto;width:90%;margin:0px;border-bottom:0;padding-left:30px;
}
.clear{
  clear:both; border-bottom:#F6F6F6 thin solid; padding-top:5px
}
#buttonHolder{
  padding: 10px;
}
#buttonHolder input[type="button"]{
  background: none;
  border:1px solid #0CAD99;
  /*border-radius: 50%;*/
  height:24px;
  color:#0CAD99;
  padding-top:3px;
  padding-bottom:3px
}
#buttonHolder input[type="button"]:hover
{ 
  background:#087B6C;
  color:white;
}
.tablink{
  background-color: #f6f6f6;
  color: #0CAD99;
  float: left;
  border:none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width:25%;
  padding: 10px;
  border-radius: 4px 4px 0px 0px
}
.tablink:hover{
  background-color: #ccc;
  color:white;
}
.tabcontent{
  color:white;
  display: none;
  padding: 10px 0px;
  width:700px;
  /*height: 100%;*/
}
#Home{
  background: transparent;
}
#News{
  background: transparent;
}
#Comment{
  background: transparent;
}
.tabs{
  max-height:auto;
  max-width:700px;
}
.categories{
  font-size:13px; color:#0CAD99; padding-bottom:1px; margin-right:5px;
}
.category_title{
  color:#087B6C; font-size:11px
}
.meetup_activity_span{font-size:9px; color:#CCC}
.meetup_activity_span>a{
  margin-right:9px;
  font-size:17px
}
.activity_count{font-size:12px; color:#000;}
#catHolder{
  border-radius:4px; padding:5px; padding-top:1px;
}
#items{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;
  
}
hr { width: 85%; 
  background-color:#E4E4E4;
  border-color:#E4E4E4;
    color:#E4E4E4;
}
#cntnr{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;      background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

li{
  
  padding: 3px;
  padding-left:10px;
}


#items :hover{
   color: white;
  background:#284570;
  border-radius:2px;
}
.wrapper_2
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}
.inner-div
{
  background-color: #f3f2ef;
  border-radius: 3px;
  width: 500px;
  height: 100px;
}
.logo{
  margin-left:15px;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  color:white;
  font-style: normal;
  text-align: center;
  font-weight:bold;
  text-shadow: 2px 2px #000
}

.profile_card input[type="text"],.profile_card input[type="password"] {
  padding:12px;
  border:none;
  border:1px solid #ccc;
}
.login_button{
  background: none;
  border:1px solid #0CAD99;
  border-radius: 10px;
  height:50px;
  color:#0CAD99;
  width:480px;
}

.login_buttonn{
  background: none;
  border:1px solid #0CAD99;
  border-radius: 10px;
  height:50px;
  color:#0CAD99;
  display: block;
  width:490px;
}

.actions{
  text-align: center;
}

.login {
  grid-column-end: span 2;
  width: auto;
  /*border: 1px solid #ccc;*/
  /*padding:10px;*/
}
.login > div {
  display: grid;
  /*grid-template-columns: 1fr 2fr;*/
  align-items: center;
}
.login label{
  font-size:12px;
  margin-bottom:7px;
  margin-top:7px
  /*font-weight:200*/
}
.login > div.actions {
  grid-template-columns: 1fr 1fr 1fr;
}
.login_button:hover{
  background-color:#c6fcfc;
  cursor:hand;
  color:black
}

.tablink:hover{
  background-color: #ececec;
  color:#000;
}
.active{
  color:white!important;
}

#Home{
  background: transparent;
}
#News{
  background: transparent;
}
#Comment{
  background: transparent;
}
.tabs{
  max-height:auto;
  width:700px;
}

.categories{
  font-size:13px; color:#0CAD99; padding-bottom:1px; margin-right:5px;
}
#catHolder{
  border-radius:4px; padding:5px; padding-top:1px;border-bottom:#F6F6F6 thin solid;
}
.dropbtn {
  background-color: #fff;;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.dropdown-content a:hover {background-color: #0CAD99;color:#fff}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0CAD99;color:#fff}
