/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 12:06:40 PM
    Author     : Epic
*/
._54_x{padding:3px 3px 0 0}
._6a{display:inline-block;}
._ohe{float:left}
._ohl{float:right}
.rfloat {
    float: right;
}
.uiToken{
	background:#e9eaed;
	border:1px solid #9daccb;
	-webkit-border-radius:2px;
	color:#1e2d4c;
	cursor:default;
	display:block;
	float:left;
	line-height:16px;
	height:16px;
	margin:0 4px 4px 0;
	padding:0 3px;
	position:relative;
	white-space:nowrap;
	font-size:12px;
}
._1sk6{
    margin-top:12px;
}
.suggestions{display:block;width:140px;box-shadow:0px 2px #000;position:relative;height:50px}
.uiTypeahead{border:0}
.uiTypeahead .wrap{border-width:0 1px;}
.uiTypeahead .innerWrap{overflow:hidden;zoom:1}
.uiInlineTokenizer .uiTypeahead{float:left;border:0;}
._54_v .uiTypeahead{margin-top:1px;}
.uiTypeahead{background:#fff;border:1px solid;width:1px;cursor:default;position:relative}
.uiInlineTokenizer .uiToken{top:2px}
._54_v .uiTokenText{display:inline;max-width:205px;overflow:hidden;text-overflow:ellipsis}
.uiInlineTokenizer .uiToken .ui{vertical-align:top;}
.uiToken .remove{left:1px;margin:0;outline:none;position:relative;color:#1e2d4c}
.uiCloseButtonSmall{height:11px;width:11px}
.uiCloseButton{cursor:pointer;display:inline-block;padding:0;zoom:1}
._5p3y .fbChatSidebar, ._5p3y .fbDock, ._5p3y .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._5p3y .tickerDialogContent .uiStream .uiStreamMessage, ._5p3y .tickerDialogContent .uiStream .text_exposed_link, ._5p3y .uiTooltipX .tooltipContent{line-height:16px;font-size:12px}
.uiContextualLayerPositioner{height:0;position:absolute;z-index:200}
.uiLayer{outline:none}
.uiContextualLayer{position:absolute;}
div.uiInlineTokenizerView{width:200px}
.uiContextualTypeaheadView{position:static}
.uiTypeaheadView{display:block;left:0;top:100%}
._5vb_, ._5vb_ #contentCol{color:#141823}
.uiTypeaheadView ul{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333 #333 #293e6a;overflow:hidden;padding:2px 0;}
.uiTypeaheadView .compact li{min-height:32px;padding:2px 10px 2px 45px}
.uiTypeaheadView li{border:solid #fff;border-width:1px 0;color:#333;cursor:pointer;display:block;position:relative}
.uiTypeaheadView .compact .splitpics, .uiTypeaheadView .compact img{display:block;height:32px;left:6px;position:absolute;width:32px}
.uiTypeaheadView .compact .text{font-weight:bold}
.uiTypeaheadView .text, .uiTypeaheadView .subtext, .uiTypeaheadView .category{display:block;overflow:hidden;padding-bottom:2px;text-overflow:ellipsis;white-space:nowrap}
.uiTypeaheadView .subtext{color:#999;}
div.uiTypeaheadView .selected{background-color:#813781;border-color:#663366;color:#fff !important}
.uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span{color:#fff !important}
.clearfix{zoom:1}
._3xen{
    height: 40px;
    float: left;
    position: relative;
    width: 40px;
}
 ._3jk {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
._2ph{
    padding: 8px;
}
._2phx{
    padding-left: 5% !important;
}
._e4b {
    padding: 0 5px 4px 2px;
}
._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
._51mz ._51m-:first-child {
    padding-left: 0;
}
._51mx:first-child>._51m- {
    padding-top: 0;
}
.uiScaledImageContainer {
    position: relative;
    overflow: hidden;
}
.uiScaledImageContainer .scaledImageFitWidth {
    height: auto;
    width: 100%;
}
.uiScaledImageContainer img {
    height: 100%;
    min-height: 100%;
    position: relative;
}
.uiGrid{margin:auto !important;}
.uiGrid tr td{padding-left:2px !important;padding-bottom:2px !important;}
._2pi4 {
    padding-bottom: 12px;
    padding-top: 12px;
}
._3-8t {
    margin-left: 12px;
    margin-right: 12px;
}
._8r {
    margin-right: 5px;
}
._8o, ._8o .img {
    display: block;
}
._42ef {
    overflow: hidden;
}
._6a {
    display: inline-block;
}
._3-99 {
    margin-left: 4px;
}
._6b {
    vertical-align: middle;
}
._6a {
    display: inline-block;
}
a._39g6 {
    color: #141823;
}
._5kx5 {
    font-weight: normal;
}
._50f5 {
    font-size: 16px;
    line-height: 20px;
}
/*hacks*/
._4-u2>._4-u3:first-child{
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
._4d6h._4p1p{
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}
._4d6h{
        border-bottom: 1px solid #e5e5e5;
    margin: 0 12px;
    padding: 10px 0 8px 0;
    position: relative;
    z-index: 1;
}
._57d8 {
  
        background-color: #f6f7f8;
}
._2dck {
    border-top: 1px solid #dcdee3;
}
._57d8 {
    background-color: #f6f7f8;
}